.aron_raty input, .aron_raty textarea, .aron_raty select { border: 1px solid #999; border-radius: 5px; color: #333; display: inline-block; height: 27px; font-size: 1.5em; text-align: center; width: 135px; vertical-align: middle }

.aron_raty input:focus, .aron_raty textarea:focus, .aron_raty select:focus { border: 1px solid #95BDD4 }
.aron_raty input:hover, .aron_raty textarea:hover, .aron_raty select:hover { border: 1px solid #BDBDBD }

.aron_raty textarea { resize: none; height: 27px }
.aron_raty select { text-align: left }

.aron_raty .target-demo { display: inline-block; vertical-align: middle }

.aron_raty div.hint { background-color: #F8F8F8; border-radius: 5px; color: #333; display: inline-block; height: 27px; font-size: 1.5em; text-align: center; width: 135px; vertical-align: middle }

.aron_raty label { color: #444; font-size: 1.7em; letter-spacing: .7px; margin-right: 5px; padding-left: 6px; vertical-align: middle }

.aron_raty a.run { font-size: 1.5em; margin-left: 5px; letter-spacing: .7px; vertical-align: middle }
